.view {
  height: 30vh;
  overflow: scroll;
}
.uploadhere {
  height: 30vh;
}
.delete-img {
  position: relative;
  left: 80%;
  top: 15%;
  z-index: 2;
}
.preview {
  height: 70px;
  object-fit: cover;
}
.add-album {
  background-color: white;
  color: #3897f1;
  width: 25%;
  box-shadow: 5px 0px 15px 3px rgb(214 214 214);
  border: none;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  bottom: 2%;
  left: 37.5%;
}
.story-image {
  height: 150px;
  object-fit: contain;
}
.schedule-l-icon {
  font-size: 40px;
  color: #3897f1;
  position: relative;

  bottom: 40%;
  border: solid;
  border-radius: 100%;
}
